@charset "UTF-8";

@media screen and (min-width: 1024px) {
    header {
      position: initial;
    }

    div.banner-container {
      position: sticky;
      top: -200px;
      box-shadow: 0 0 5px var(--border-color);
      z-index: 10;
    }
}

/* BANNER */
div.banner-container {
    background: linear-gradient(180deg, var(--gray-c) 0%, var(--yt) 50%);
    min-height: 255px;
}

div.banner-container div.banner {
    min-height: 200px;
    position: relative;
    box-shadow: 0 0 10px var(--border-color);
    background: url("../imagens/aderito-felix-quinamine.jpg") no-repeat top/cover;
    transition-duration: 150ms;
}

@media screen and (min-width: 425px) {
    div.banner-container div.banner {
      background: url("../imagens/aderito-fundo-desktop.jpg") center top/cover; 
    }
}

div.banner-container.when-innerIMG-clicked {
    background: var(--dark);
    box-shadow: none;
    position: initial;
}

div.banner-container.when-innerIMG-clicked div.banner {
    width: 100vw;
    height: 85vh;
    background-color: var(--dark);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: none;
    position: fixed;
    top: 7.5vh;
    right: 0;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    div.banner-container.when-innerIMG-clicked div.banner {
      padding: 0 !important;
    }
}

@media screen and (min-width: 1024px) {
    div.banner-container.when-innerIMG-clicked div.banner {
        right: calc(50vw - 512px);
    }
}

div.banner-container.when-innerIMG-clicked div.banner::after {
    content: "Adérito em Mocimboa da Praia (Abril de 2022).";
    width: 100%;
    text-align: center;
    color: var(--yt);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    background-color: var(--blc-alpha-5);
}

div.banner-container div.h1-container {
    min-height: 50px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    div.banner-container div.h1-container {
        min-height: 70px;
        padding: 0 20px;
    }
}
@media screen and (min-width: 1066px) {
    div.banner-container div.h1-container {
        padding: 0;
    }
}

div.banner-container div.h1-container h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 1024px) {
  div.banner-container div.h1-container h1 {
      font-size: 32px;
  }
}

/* ARTICLE */

figure img {
    border: 1px solid var(--border-color);
    transition-duration: 250ms;
}

figure figcaption {
    border: 1px solid var(--border-color);
    padding: 2px;
    font-size: 13px;
    max-width: 322px;
    margin-top: -4px;
    transition-duration: 250ms;
}

figure.when-innerIMG-clicked {
    position: fixed;
    top: calc(50vh - 200.5px);
    right: calc(50vw - 161px);
    z-index: 1000;
}

figure.when-innerIMG-clicked.last-child {
    top: calc(50vh - 158px);
}

figure.when-innerIMG-clicked figcaption {
    border: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    background-color: var(--blc-alpha-5);
    color: var(--yt);
    text-align: center;
    font-size: 14px;
}

/* ASIDE */

aside {
    top: 83px !important;
}

div.blur.on {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--dark);
    z-index: 999;
}

div.blur button {
    min-width: 40px;
    min-height: 40px;
    background-color: inherit;
    margin-right: auto;
    display: none;
    border-radius: 50px;
}

div.blur.on button {
  display: block;
}

div.blur button:hover {
    color: var(--yt);
    background: var(--gray-dark);
}

