
:root {
    --cor-primaria: #0077ff;
    --cor-de-borda: #dddddd;
    --cor-de-link: var(--cor-primaria);
    --cor-de-texto: #333333;
    --cor-de-realce: #dce4f4;
    --cor-do-rodape: #263e68;
    --variacao-da-cor-do-rodape: #5a698c;
    --cor-de-risco: #dd0000;
    --cor-de-risco-alfa-8: rgba(238, 0, 0, .8);
    --fullblack: #000000;
    --black--alpha-5: rgba(0, 0, 0, .5);
    --black--alpha-8: rgba(0, 0, 0, .8);
    --yt: #ffffff;
    --gray: #888888;
    --gray--4: #444444;
    --gray--5: #555555;
    --gray--a: #aaaaaa;
    --gray--c: #cccccc;
    --gray--d: #dddddd;
    --gray--light: #f0f0f0;
    --gray--fa: #fafafa;
    --blue: #0060EE;
    --blue--cobalt: #2573b5;
    --purple: rgb(116, 116, 235);
    --orange: #faa032;
    --brown: brown;
    --reference-bgc: var(--black--alpha-8);
    --layout-width: 1024px;
}
#body {
    color: var(--cor-de-texto);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg,var(--gray--d) 0,var(--yt) 90%);
}
.title {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
}
.title--no-margin-b {
    margin-bottom: 0;
}
.title--border-b {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-de-borda)
}
.title--fs-h1 {
    font-size: 22px;
}
.title--fs-h2 {
    font-size: 20px;
}
.title--fs-h3 {
    font-size: 18px;
}
.title--fs-h4 {
    font-size: 16px;
}
.title--fs-h5 {
    font-size: 14px;
}
li {
    margin-bottom: 	15px;
}
p {
    margin-bottom: 20px;
}
.list--ol {
    list-style: decimal inside;
}
.list--ul {
    list-style: disc inside;
}
.layout-row {
    width: 100%;
    max-width: var(--layout-width);
    margin: 0 auto;
}
@media screen and (min-width: 1024px) {
    .header__row {
        max-width: calc(var(--layout-width) + 40px);
    }
}
#header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--yt);
    border-bottom: thin solid var(--cor-de-borda);
}
.body-com-topo-propaganda #header {
    top: 51px;
}
@media screen and (min-width: 544px) {
    .body-com-topo-propaganda #header {
        top: 35.38px;
    }
}
.header__row {
    display: flex;
    flex-direction: column;
    position: relative
}
@media screen and (min-width: 1024px) {
    .header__row {
        padding-left: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.header__logo {
    font: 22px "Leckerli One",cursive,Arial,Helvetica,sans-serif;
    color: var(--cor-primaria);
    padding: 6px 15px;
    width: 85%;
}
@media screen and (min-width: 1024px) {
    .header__logo {
        padding: 0;
    }
}
.header__nav__ul {
    display: flex;
    align-items: center;
}
.header__nav__li {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}
@media screen and (max-width: 1023px) {
    .header__nav__li {
        flex: 1;
    }
}
.header__nav__link {
    color: var(--cor-de-texto);
    display: block;
    width: 100%;
    padding: 9.5px 6px;
    border-bottom: 2px solid transparent;
    transition-duration: 400ms;
}
@media screen and (min-width: 1024px) {
    .header__nav__link {
        padding-right: 20px;
        padding-left: 20px
    }
    .header__nav__link:hover {
        background-color: var(--gray--light);
    }
}
.header__nav__link:active {
    opacity: .3;
    background-color: var(--gray--light);
}
.header__nav__link--current {
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}
.header__menu-see-more {
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 6px;
    border-radius: 50%;
    transition-duration: 150ms;
}
@media screen and (min-width: 1024px) {
    .header__menu-see-more {
        flex-direction: column;
        position: initial;
        margin-right: 3px;
    }
    .header__menu-see-more:hover {
        background-color: var(--gray--d)
    }
}
.header__menu-see-more:active {
    background-color: var(--gray--d);
    opacity: .7;
}
.header__menu-see-more__dot {
    width: 4px;
    height: 4px;
    margin: 1.5px;
    background-color: var(--cor-de-texto);
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 150ms
}
@media screen and (min-width: 1024px) {
    .header__menu-see-more__dot {
        margin: 1px;
    } 
}
.header__address {
    width: 100%;
    max-width: 310px;
    position: fixed;
    top: 45px;
    right: -300px;
    background-color: var(--yt);
    box-shadow: 0 0 10px var(--gray--a);
    border-radius: 4px;
    visibility: hidden;
    transition-duration: 150ms;
    font-size: 14px;
    z-index: 999;
}
.body-com-topo-propaganda .header__address {
    top: 53px;
}
.header__address.--open {
    right: 4px;
    visibility: visible
}
@media screen and (min-width: 1024px) {
    .header__address {
        top: 30px;
    }
    .body-com-topo-propaganda .header__address {
        top: 38px;
    }
    .header__address.--open {
        right: calc(50vw - var(--layout-width) / 2);
    }
}
.header__address__row {
    padding: 8px;
    border-bottom: thin solid var(--cor-de-borda);
}
.header__address__email {
   transition: text-decoration 150ms;
}
.header__address__email:hover {
    text-decoration: underline;
}
.header__address__row--nav {
    display: grid;
    grid-template-columns: 30px repeat(3, 50px);
}
@media screen and (min-width: 1024px) {
    .header__address__row--nav {
        grid-template-columns: 30px repeat(2, 50px);
    }
    .header__address__link--tel {
        display: none;
    }
}
.header__address__social-media-icon {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    cursor: pointer;
}
.header__address__tooltip {
    position: absolute;
    right: 20px;
    background-color: var(--cor-do-rodape);
    box-shadow: 0 0 5px var(--gray);
    color: var(--yt);
    font-size: 13px;
    padding: 15px;
    border-radius: 10px;
    top: 45px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.header__address__tooltip.--on {
    visibility: visible;
    opacity: 1;
}
.header__tooltip__arrow {
    position: absolute;
    right: 7px;
    top: -15px;
    border-bottom: 15px solid var(--cor-do-rodape);
    border-left: 15px solid transparent;
}
/* Main */
.container-of-main-n-aside {
    margin-top: 10px;
    background-color: var(--yt);
}
@media screen and (min-width: 1024px) {
    .container-of-main-n-aside {
        flex: 1;
        background-color: inherit;
        display: grid;
        grid-template-columns: 644px 360px;
        grid-gap: 20px;
    }
}
.main {
    padding: 15px;
    min-height: 100vh;
    position: relative;
}
@media screen and (min-width: 1024px) {
    .main, .aside-of-main {
        min-width: 100%;
        box-shadow: 0 0 10px var(--gray--d);
        background-color: var(--yt);
        border-radius: 5px 5px 0 0;
        padding: 20px;
        box-sizing: border-box;
    }
    .aside-of-main {
        padding: 20px;
    }
}
.main--no-padding {
    padding: 0;
}
.aside-of-main {
    display: none;
}
@media screen and (min-width: 1024px) {
    .aside-of-main {
        display: block;
        min-width: 360px;
        max-height: 580px;
        overflow: auto;
        position: sticky;
        top: 53px;
    }
    .body-com-topo-propaganda .aside-of-main {
        top: 88px;
    }
    .aside-of-main--top-greater {
        top: 81px;
    }
    .body-com-topo-propaganda .aside-of-main--top-greater {
        top: 116px;
    }
    .aside-of-main::-webkit-scrollbar {
        width: 10px;
        background-color: var(--gray--light);
        padding: 0 2px
    }
    .aside-of-main::-webkit-scrollbar-thumb {
        background-color: var(--gray--a);
        border-radius: 6px;
    }
    .aside-of-main::-webkit-scrollbar-thumb:hover {
        background-color: var(--gray);
    }
    .aside-of-main::-webkit-scrollbar-thumb:active {
        background-color: var(--gray--a);
    }
    .aside-of-main__title {
        font-size: inherit;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--cor-de-borda);
        text-transform: uppercase;
    }
    .aside-of-main li:last-child {
        margin-bottom: 35px;
    }
    .aside-of-main li.--no-margin-b {
        margin-bottom: 0;
    }
}
.section-habilidades {
    background-color: var(--cor-do-rodape);
    padding: 20px 15px;
    position: relative;
    font-size: 12px;
    border-bottom: 2px solid var(--variacao-da-cor-do-rodape)
}
@media screen and (min-width: 1023px) {
    .section-habilidades {
        padding-left: 20px;
        padding-right: 20px
    }
}
.title--skills {
    color: var(--yt);
    border-color: var(--variacao-da-cor-do-rodape);
}
.section-habilidades li {
    margin-bottom: 10px;
}
.section-habilidades li:last-child {
    margin-bottom: 35px
}
.section-habilidades a:link,
.section-habilidades  a:visited {
    color: var(--gray--d);
    display: block;
    width: 100%
}
.section-habilidades a:hover {
    color: var(--yt)
}
.section-habilidades abbr {
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    .section-habilidades__row {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px 20px
    }
}
@media screen and (min-width: 900px) {
    .section-habilidades__row {
        display:flex;
        justify-content: space-between
    }
}
#footer {
    background-color: var(--cor-do-rodape)
}
.footer__row {
    padding: 20px 15px;
    text-align: center
}
.footer__p {
    margin-bottom: 0;
    font-size: 13.5px;
    color: var(--yt);
}
/* INDEX - BIOGRAFIA*/
.banner {
    background: linear-gradient(180deg,var(--gray--c) 0,var(--yt) 50%);
    min-height: 255px;
    position: relative;
}
@media screen and (min-width: 1024px) {
    .banner {
        position: sticky;
        top: -200px;
        box-shadow: 0 0 5px var(--gray--d);
        z-index: 100;
    }
    .body-com-topo-propaganda .banner {
        top: -165px;
    }
}
.banner__frame {
    height: 200px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px var(--cor-de-borda);
}
@media screen and (min-width: 426px) {
    .banner__frame {
        background: url("../imagens/aderito-fundo-desktop.jpg") top center no-repeat;
        transition-duration: 150ms;
    }
}
.banner__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: 1000ms;
}
@media screen and (min-width: 426px) {
    .banner__img {
        display: none;
    }
}
.banner__img--current {
    opacity: 1;
}
.banner__progress {
    position: absolute;
    left: calc(50vw - 192px / 2);
    top: 180px;
    display: flex;
}
@media screen and (min-width: 426px) {
    .banner__progress {
        display: none;
    }
}
.banner__progress__btn {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    padding: 5px;
    border: 1px solid var(--cor-de-link);
    background-color: transparent;
    transition-duration: .4s;
}
.banner__progress__btn--full {
    background-color: var(--cor-de-link);
    transform: scale(1.5);
}
.title--auto-typing {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 6px 15px;
    max-width: 700px;
    margin: 0 auto;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 20px;
}
@media screen and (min-width: 1024px) {
    .title--auto-typing {
        min-height: 70px;
        max-width: var(--layout-width);
        font-size: 32px;
        padding: 0 0 0 15px;
    }
}
.article__frame__figcaption {
    border: thin solid var(--cor-de-borda);
    font-size: 12px;
    padding: 4px;
    max-width: 320px;
    margin-bottom: 20px;
}
/* CURRICULUM */
.title--color-gray {
    color: var(--gray);
}
.album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px;
    grid-gap: 3px;
    margin-bottom: 35px;
}
@media screen and (min-width: 460px) {
    .album {
        grid-template-rows: 1fr;
        max-height: 199.33px;
    }
}
.album__frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 2px var(--cor-de-borda);
}
@media screen and (min-width: 1024px) {
    .album__frame {
        transition: transform 250ms;
    }
    .album__frame:hover {
        cursor: pointer;
        transform: scale(1.02);
        border: 1px solid var(--cor-primaria)
    } 
}
.album__frame img {
    max-width: initial
}
.image-viewer {
    height: 100%;
    right: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black--alpha-8);
    display: none
}
.body-com-topo-propaganda .image-viewer {
    top: 51px;
}
@media screen and (min-width: 544px) {
    .body-com-topo-propaganda .image-viewer {
        top: 35px;
    }
}
.image-viewer.--open {
    display: block
}
.image-viewer__frame {
    max-height: 100%;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center
}
.image-viewer__frame__opened-img {
    display: block;
    max-height: 100%;
    margin: auto;
    box-shadow: 0 0 20px var(--fullblack);
    transition-duration: 250ms;
}
.image-viewer__frame__figcaption  {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black--alpha-5);
    padding: 4px;
    color: var(--yt);
    text-align: center
}
.image-viewer__btn {
    width: 33px;
    font-size: 24px;
    background-color: var(--black--alpha-5);
    color: var(--gray--d);
    padding: 8px;
    position: absolute;
    top: calc(50vh - 27.5px);
    transition-duration: 150ms;
}
.image-viewer__btn.--off {
    display: none !important;
}
.image-viewer__btn--fechar {
    top: 0;
}
.image-viewer__btn--previous {
    left: 0;
}
.image-viewer__btn--fechar,
.image-viewer__btn--next {
    right: 0;
}
@media screen and (min-width: 1058px) {
    .image-viewer__btn--previous {
        left: calc(50vw - (var(--layout-width) + 20px) / 2);
    }
    .image-viewer__btn--fechar,
    .image-viewer__btn--next {
        right: calc(50vw - (var(--layout-width) + 20px) / 2);
    }
    .image-viewer__btn:hover {
        background-color: var(--fullblack);
    }
    .image-viewer__btn--fechar:hover {
        background-color: var(--cor-de-risco);
    }
}
/* PORTFOLIO */
.portfolio__container-de-h1 {
    border-bottom: 1px solid var(--gray--d);
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 51px;
}
@media screen and (min-width: 1024px) {
    .portfolio__container-de-h1 {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.portfolio__h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}
.portfolio__container-de-caixa-de-pesquisa {
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    transition-duration: .15s;
}
.portfolio__container-de-caixa-de-pesquisa.--on {
    flex: 1;   
}
.portfolio__container-de-caixa-de-pesquisa.--on #portfolio__input-search {
    visibility: visible;
}
#portfolio__input-search {
    border: 1px solid var(--gray--c);
    height: 32px;
    padding: 0 10px;
    border-radius: 40px;
    width: 100%;
    visibility: hidden;
}
#portfolio__input-search:focus {
    border: 2px solid var(--blue);
}
.svg-lupa-de-pesquisa:hover {
    cursor: pointer;
}
.svg-lupa-de-pesquisa:active {
    opacity: .3;
    background-color: var(--gray--light);
}
.portfolio__container-de-caixa-de-pesquisa.--on .svg-lupa-de-pesquisa {
    display: none;
}
.portfolio__container-de-caixa-de-pesquisa__btn {
    font-size: 28px;
    z-index: 1;
    background-color: transparent;
    display: none;
}
.portfolio__container-de-caixa-de-pesquisa.--on .portfolio__container-de-caixa-de-pesquisa__btn {
    display: initial;
}
.portfolio__advertising {
    padding: 15px;
    border-bottom: 1px solid var(--gray--d);
}
.portfolio__advertising.--hidden {
    display: none;
}
.msg-nothing-found-to-searching-on-portfolio {
    color: var(--gray--5);
    position: absolute;
    top: 62px;
    z-index: 333;
    left: calc(50vw - 151px / 2);
    margin-bottom: 0;
}
.msg-nothing-found-to-searching-on-portfolio.--display-none {
    display: none;
}
@media screen and (min-width: 1024px) {
    .portfolio__advertising {
        padding-left: 20px;
        padding-right: 20px;
    }
    .msg-nothing-found-to-searching-on-portfolio {
        left: calc(322px - 150.09px / 2)
    }
}
.portfolio__advertising__time {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px 0;
    color: var(--gray--5)
}
.portfolio__advertising__link {
    display: block;
    font-weight: 700;
    background-color: var(--cor-primaria);
    padding: 6px;
    border-radius: 5px;
    color: var(--yt);
    text-align: center;
    margin-left: auto;
}
.portfolio__advertising__link:hover .link-acessar__raquo {
    margin-left: 10px;
}
.link-acessar__raquo {
    transition-duration: 150ms;
}
.portfolio__advertising__img--border {
    border: 1px solid var(--cor-de-borda);
}
.portfolio__advertising__img--border-b {
    border-bottom: 1px solid var(--cor-de-borda);
}
.portfolio__advertising__description {
    margin-top: 20px;
}
.aside-of-main a,
.aside-of-main li {
    font-size: 13.5px;
    color: var(--cor-de-texto);
    transition-duration: 150ms;
}
.aside-of-main--page-of-portfolio li {
    margin-bottom: 0;
}
.aside-of-main--page-of-portfolio ul {
    list-style: none;
}
.aside-of-main--page-of-portfolio a {
    display: inline-block;
    padding: 6px 0;
    transition-duration: 150ms;
}
.aside-of-main--page-of-portfolio li:hover,
.aside-of-main--page-of-portfolio li:hover a {
    color: var(--cor-primaria);
    text-indent: 5px;
}
.topo-propaganda {
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: #f12d1d;
    display: none;
}
@media screen and (max-width: 543px) {
    .topo-propaganda {
        min-height: 51px;
    }
}
.body-com-topo-propaganda .topo-propaganda {
    display: initial;
}
.topo-propaganda__row {
    position: relative;
}
@media screen and (min-width: 1024px) {
    .topo-propaganda__row {
        max-width: calc(var(--layout-width) + 38px);
        margin-left: auto;
        margin-right: auto;
    }
}
.topo-propaganda__btn {
    background-color: var(--blue--cobalt);
    color: var(--yt);
    font-size: 15px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: calc(50% - 19px / 2);
}
.topo-propaganda__paragrafo {
    display: block;
    font-size: 12px;
    line-height: 1.3;
    padding: 10px 48px 10px 60px;
    font-weight: 700;
    position: relative;
    color: var(--yt);
    margin-bottom: 0;
}
.topo-propaganda__img {
    border-radius: 50%;
    border: 1px solid brown;
    width: 38px;
    position: absolute;
    left: 15px;
    top: calc(50% - 34.67px / 2);
}
.topo-propaganda__btn {
    background-color: brown;
}