
:root {
    /* Cores */
    --cor-primaria: #0077ff;
    --cor-de-borda: #dddddd;
    --cor-de-link: var(--cor-primaria);
    --cor-de-texto: #333333;
    --cor-de-realce: #dce4f4;
    --cor-do-rodape: #263e68;
    --variacao-da-cor-do-rodape: #5a698c;
    --cor-de-risco: #dd0000;
    --cor-de-risco-alfa-8: rgba(238, 0, 0, .8);
    --fullblack: #000000;
    --black--alpha-5: rgba(0, 0, 0, .5);
    --black--alpha-8: rgba(0, 0, 0, .8);
    --yt: #ffffff;
    --gray: #888888;
    --gray--4: #444444;
    --gray--5: #555555;
    --gray--a: #aaaaaa;
    --gray--c: #cccccc;
    --gray--d: #dddddd;
    --gray--light: #f0f0f0;
    --gray--fa: #fafafa;
    --blue: #0060EE;
    --blue--light: #2573b5;
    --purple: rgb(116, 116, 235);
    --orange: #faa032;
    --brown: brown;
    --reference-bgc: var(--black--alpha-8);

    /* Tamanhos */
    --layout-width: 1024px;
    --input-font-size: 12px;
    --border-style: 1px solid var(--cor-de-borda);
}

body {
    color: var(--cor-de-texto);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg,var(--gray--d) 0,var(--yt) 90%);
}

body.overflow-h {
    overflow: hidden
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: 700;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p, dd,dt,li,span {
    line-height: 1.5
}

p, figure {
    margin-bottom: 20px;
}

.lista-ordenada {
    list-style: decimal inside;

}

.lista-nao-ordenada {
    list-style: disc inside;
}

li {
    margin-bottom: 	15px;
}

.--display-flex-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.--display-flex-y-center {
    display: flex;
    align-items: center;
}

.layout-row {
    width: 100%;
    max-width: var(--layout-width);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 1024px) {
    .layout-row {
        padding-left: 0;
        padding-right: 0;
    }

    .header__row {
        max-width: calc(var(--layout-width) + 40px);
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--yt);
    border-bottom: var(--border-style);
}

.header__row {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative
}

@media screen and (min-width: 1024px) {
    .header__row {
        padding-left: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    font: 22px "Leckerli One",cursive,Arial,Helvetica,sans-serif;
    color: var(--cor-primaria);
    padding: 6px 15px;
    width: 85%;
}

@media screen and (min-width: 1024px) {
    .header__logo {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .header__nav__ul--margin-left {
        margin-right: 10px;
    }
}

.header__nav__li {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .header__nav__li {
        flex: 1;
    }
}

.header__nav__link {
    color: var(--cor-de-texto);
    display: block;
    width: 100%;
    padding: 9.5px 6px;
    border-bottom: 2px solid transparent;
    transition-duration: 400ms;
}

@media screen and (min-width: 1024px) {
    .header__nav__link {
        padding-right: 20px;
        padding-left: 20px
    }

    .header__nav__link:hover {
        background-color: var(--gray--light);
        color: var(--cor-de-texto);
    }
}

.header__nav__link:active {
    opacity: .3;
    background-color: var(--gray--light);
}

.header__nav__link--current {
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.header__menu-see-more {
    width: 50px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 6px;
    border-radius: 50%;
    transition-duration: 150ms;
}

@media screen and (min-width: 1024px) {
    .header__menu-see-more {
        flex-direction: column;
        position: initial;
        margin-right: 3px;
    }

    .header__menu-see-more:hover {
        background-color: var(--gray--d)
    }
}

.header__menu-see-more:active {
    background-color: var(--gray--d);
    opacity: .7;
}

.header__menu-see-more__dot {
    width: 4px;
    height: 4px;
    margin: 1.5px;
    background-color: var(--cor-de-texto);
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 150ms
}

@media screen and (min-width: 1024px) {
    .header__menu-see-more__dot {
        margin: 1px;
    } 
}

.header__container-de-contactos {
    width: 100%;
    max-width: 310px;
    position: fixed;
    top: 45px;
    right: -300px;
    background-color: var(--yt);
    box-shadow: 0 0 10px var(--gray--a);
    border-radius: 4px;
    visibility: hidden;
    transition-duration: 150ms;
    font-size: 14px;
}

.header__container-de-contactos.--open {
    right: 4px;
    visibility: visible
}

@media screen and (min-width: 1024px) {
    .header__container-de-contactos {
        top: 30px;
    }

    .header__container-de-contactos.--open {
        right: calc(50vw - var(--layout-width) / 2);
    }
}

.header__container-de-contactos > div,
.header__container-de-contactos__nav-redes-sociais {
    padding: 8px;
    border-bottom: thin solid var(--cor-de-borda);
}

.header__container-de-contactos h5 {
    margin: 0;
}

.header__container-de-contactos__email {
   transition: text-decoration 150ms;
}

.header__container-de-contactos__email:hover {
    text-decoration: underline;
}

.header__container-de-contactos__nav-redes-sociais {
    display: grid;
    grid-template-columns: 30px repeat(3, 50px);
}

@media screen and (min-width: 1024px) {
    .header__container-de-contactos__nav-redes-sociais {
        grid-template-columns: 30px repeat(2, 50px);
    }

    .header__container-de-contactos__tel {
        display: none;
    }
}

.header__container-de-contactos__nav-redes-sociais img {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    cursor: pointer;
}

/* Main */
.main-n-aside-container {
    margin-top: 10px;
    background: var(--yt);
}

@media screen and (min-width: 1024px) {
    .main-n-aside-container {
        flex: 1;
        background-color: inherit;
        display: grid;
        grid-template-columns: 644px 360px;
        grid-gap: 20px
    }
}

main {
    padding: 15px 0;
}

aside {
    display: none;
}

@media screen and (min-width: 1024px) {
    main, aside {
        min-width: 100%;
        box-shadow: 0 0 10px var(--gray--d);
        background-color: var(--yt);
        border-radius: 5px 5px 0 0;
        padding: 20px;
        box-sizing: border-box;
    }

    aside {
        display: block;
        min-width: 360px;
        max-height: 560px;
        overflow: auto;
        position: sticky;
        top: 53px;
    }

    aside.--position-top-81 {
        top: 81px;
    }

    aside::-webkit-scrollbar {
        width: 10px;
        background-color: var(--gray--light);
        padding: 0 2px
    }

    aside::-webkit-scrollbar-thumb {
        background-color: var(--gray--a);
        border-radius: 6px;
    }

    aside::-webkit-scrollbar-thumb:hover {
        background-color: var(--gray);
    }

    aside::-webkit-scrollbar-thumb:active {
        background-color: var(--gray--a);
    }

    .aside__title {
        font-size: inherit;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--cor-de-borda);
        text-transform: uppercase;
        margin-top: 40px;
    }

    .aside__title--no-margin-top {
        margin-top: 0
    }
}

.section-skills {
    background: var(--cor-do-rodape);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    font-size: 12px;
    border-bottom: 2px solid var(--variacao-da-cor-do-rodape)
}

@media screen and (min-width: 1023px) {
    .section-skills {
        padding-left: 20px;
        padding-right: 20px
    }
}

.section-skills__title {
    color: var(--yt);
    margin-top: 0;
    margin-bottom: 15px
}

.section-skills__title--border-b {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--variacao-da-cor-do-rodape);
}

.section-skills__title--font-medium {
    font-size: 14px;
}

.section-skills li {
    margin-bottom: 10px;
}

.section-skills li:last-child {
    margin-bottom: 35px
}

.section-skills a:link,
.section-skills  a:visited {
    color: var(--gray--d);
    display: block;
    width: 100%
}

.section-skills a:hover {
    color: var(--yt)
}

.section-skills abbr {
    cursor: pointer;
}


@media screen and (min-width: 600px) {
    .section-skills__row {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px 20px
    }
}

@media screen and (min-width: 900px) {
    .section-skills__row {
        display:flex;
        justify-content: space-between
    }
}

footer {
    background-color: var(--cor-do-rodape)
}

.footer__row {
    padding: 20px;
    text-align: center
}

.footer__p {
    margin: 0;
    font-size: 13.5px;
    color: var(--yt);
}

/* INDEX */
.banner {
    background: linear-gradient(180deg,var(--gray--c) 0,var(--yt) 50%);
    min-height: 255px;
}

@media screen and (min-width: 1024px) {
    .banner {
        position: sticky;
        top: -200px;
        box-shadow: 0 0 5px var(--gray--d);
        z-index: 100;
    }
}

.banner__row {
    min-height: 200px;
    position: relative;
    box-shadow: 0 0 10px var(--border-color);
    background: url("../imagens/aderito-na-infancia-banner.png") bottom center no-repeat;
    transition-duration: 150ms
}

@media screen and (min-width: 425px) {
    .banner__row {
        background-repeat: repeat;
    }
}

@media screen and (min-width: 600px) {
    .banner__row {
        background: url("../imagens/aderito-fundo-desktop.jpg");
    }
}

.banner__titulo-auto-text {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 700px;
    margin: 0 auto;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 760px) {
    .banner__titulo-auto-text {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .banner__titulo-auto-text {
        min-height: 70px;
        max-width: var(--layout-width);
        font-size: 32px;
        padding-left: 20px;
    }
}

.biografia__primeiro-paragrafo strong {
    cursor: pointer;
}

.biografia__legenda-de-imagem {
    border: thin solid var(--cor-de-borda);
    font-size: 12px;
    padding: 4px;
    max-width: 320px;
}

/* CV */
@media screen and (max-width: 1023px) {
    .layout-row--no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .pagina-cv__titulo {
        padding: 0 15px;
    }
}

.pagina-cv__titulo--secundario {
    font-size: 14px;
    color: var(--gray);
}

.album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px;
    grid-gap: 3px;
}

@media screen and (min-width: 460px) {
    .album {
        grid-template-rows: 1fr;
        max-height: 199.33px;
    }
}

.album__moldura {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 2px var(--cor-de-borda);
}

@media screen and (min-width: 1024px) {
    .album__moldura {
        transition: transform 250ms;
    }

    .album__moldura:hover {
        cursor: pointer;
        transform: scale(1.02);
        border: 1px solid var(--cor-primaria)
    } 
}

.album__moldura img {
    max-width: initial
}

.visualizador-de-imagens {
    height: 100%;
    right: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black--alpha-8);
    display: none
}

.visualizador-de-imagens.--open {
    display: block
}

.visualizador-de-imagens__moldura {
    max-height: 100%;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.visualizador-de-imagens__img-actual {
    display: block;
    max-height: 100%;
    margin: auto;
    box-shadow: 0 0 20px var(--fullblack);
    transition-duration: 250ms;
}

.visualizador-de-imagens__legenda {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 35px;
    background-color: var(--black--alpha-5);
    padding: 4px;
    color: var(--yt);
    text-align: center
}

.visualizador-de-imagens__btn {
    width: 33px;
    font-size: 24px;
    background-color: var(--black--alpha-5);
    color: var(--gray--d);
    padding: 8px;
    position: absolute;
    top: calc(50vh - 27.5px);
    transition-duration: 150ms;
}

.visualizador-de-imagens__btn.--off {
    display: none !important;
}

.visualizador-de-imagens__btn--fechar {
    top: 0;
}

.visualizador-de-imagens__btn--previous {
    left: 0;
}

.visualizador-de-imagens__btn--fechar,
.visualizador-de-imagens__btn--next {
    right: 0;
}

@media screen and (min-width: 1058px) {
    .visualizador-de-imagens__btn--previous {
        left: calc(50vw - (var(--layout-width) + 20px) / 2);
    }
    
    .visualizador-de-imagens__btn--fechar,
    .visualizador-de-imagens__btn--next {
        right: calc(50vw - (var(--layout-width) + 20px) / 2);
    }

    .visualizador-de-imagens__btn:hover {
        background-color: var(--fullblack);
    }

    .visualizador-de-imagens__btn--fechar:hover {
        background-color: var(--cor-de-risco);
    }
}

.pagina-portfolio__main {
    padding: 0px;
}

.pagina-portfolio__titulo-principal,
.sessao-sobre-o-totalizador {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--cor-de-borda)
}

@media screen and (min-width: 1024px) {
    .pagina-portfolio__titulo-principal {
        padding: 10px 20px;
    }

    .sessao-sobre-o-totalizador {
        padding: 20px
    }
}

.sessao-sobre-o-totalizador h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px
}

.sessao-sobre-o-totalizador__data-de-lancamento {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 0;
    color: var(--gray--5)
}

.sessao-sobre-o-totalizador__link-acessar {
    display: block;
    font-weight: 700;
    background-color: var(--cor-primaria);
    padding: 6px;
    border-radius: 5px;
    color: var(--yt);
    text-align: center;
    margin-left: auto;
}

.sessao-sobre-o-totalizador__link-acessar:hover .link-acessar__raquo {
    margin-left: 10px;
}

.link-acessar__raquo {
    transition-duration: 150ms;
}

.sessao-sobre-o-totalizador__img--com-borda {
    border: 1px solid var(--cor-de-borda);
}


.portfolio__aside a,
.portfolio__asid li {
    font-size: 13.5px;
    color: var(--cor-de-texto);
    transition-duration: 150ms;
}

.portfolio__aside li {
    margin-bottom: 0;
}

.portfolio__aside a {
    display: inline-block;
    padding: 6px 0;
    transition-duration: 150ms;
}

.portfolio__aside li:hover,
.portfolio__aside li:hover a {
    color: var(--cor-primaria);
    text-indent: 5px;
}


