div.main-content {
    padding: 0 0 20px 0;
}

div.main-content h1, 
div.main-content section {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

@media screen and (min-width: 1024px) {
  div.main-content h1, div.main-content section {
      padding: 10px 20px
  }
}

div.main-content section h2 {
    font-size: 18px;
    margin-bottom: 2px;
}

div.main-content section > span {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px;
    color: var(--gray-dark);
}

div.main-content section a {
    display: block;
}

div.description > a {
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--yt);
    text-align: center;
    margin-left: auto;
    transition-duration: 400ms;
}

@media screen and (min-width: 1024px) {
    div.description > a {
        background-color: var(--border-color);
        color: var(--blc-text-color);
    }

    div.description > a:hover {
      background-color: var(--primary-color);
      color: var(--yt);
    }
}

div.description p a {
    color: var(--blc-text-color);
}
div.description p span.read-more {
    color: var(--gray);
}
